<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <title>Unit Converter</title>
</head>

<body>
  <h1>Unit Converter</h1>

  <div id="nav-bar">
    <button id="length-button" class="unit-button" onclick="showForm('length')">Length</button>
    <button id="mass-button" class="unit-button" onclick="showForm('mass')">Mass</button>
    <button id="temp-button" class="unit-button" onclick="showForm('temp')">Temperature</button>
  </div>

  <div id="length-form" class="unit-form active-form">
    <form>
      <label for="length-value">Enter the length to convert:</label>
      <input type="text" id="length-value" name="length-value">

      <label for="length-from">Unit to convert from:</label>
      <select name="length-from" id="length-from">
        <option value="ft">Feet</option>
        <option value="m" selected>Meters</option>
      </select>

      <label for="length-to">Unit to convert to:</label>
      <select name="length-to" id="length-to">
        <option value="ft" selected>Feet</option>
        <option value="m">Meters</option>
      </select>

      <button onclick="convert('length', event)">Submit</button>
    </form>
  </div>

  <div id="mass-form" class="unit-form hidden">
    <form>
      <label for="mass-value">Enter the mass to convert:</label>
      <input type="text" id="mass-value" name="mass-value">

      <label for="mass-from">Unit to convert from:</label>
      <select name="mass-from" id="mass-from">
        <option value="lbs" selected>Pounds</option>
        <option value="kg">Kilograms</option>
      </select>

      <label for="mass-to">Unit to convert to:</label>
      <select name="mass-to" id="mass-to">
        <option value="lbs">Pounds</option>
        <option value="kg" selected>Kilograms</option>
      </select>

      <button onclick="convert('mass', event)">Submit</button>
    </form>
  </div>

  <div id="temp-form" class="unit-form hidden">
    <form>
      <label for="temp-value">Enter the temperature to convert:</label>
      <input type="text" id="temp-value" name="temp-value">

      <label for="temp-from">Unit to convert from:</label>
      <select name="temp-from" id="temp-from">
        <option value="f" selected>Farenheit</option>
        <option value="c">Celsius</option>
      </select>

      <label for="temp-to">Unit to convert to:</label>
      <select name="temp-to" id="temp-to">
        <option value="f">Farenheit</option>
        <option value="c" selected>Celsius</option>
      </select>

      <button onclick="convert('temp', event)">Submit</button>
    </form>
  </div>

  <div id="result-div" class="hidden">
    <h2 id="result-text">Some Result</h2>
    <button onclick="reset()">Reset</button>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>